.order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.order__title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 10px 0;
}
