@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import './null.css';

* {
    font-family: 'Questrial';
    font-size: 1.5rem;
}

:root {
    --black: rgb(24, 23, 23);
    --blue-400: rgb(60, 189, 254);
    --blue-600: rgb(13, 149, 217);
    --disabled: rgb(154, 150, 150);
    --radius1: 12px;
}