.select {
    padding: 0px 7px;
    flex: 0 0 30%;
    height: 30px;
    border-radius: var(--radius1);
    border: 1px solid black;
    transition: 300ms;
    font-size: 1.25rem;
    margin: 5px 0;
}

.select option {
    border-radius: var(--radius1);
}

.select:hover,
.select:focus {
    border: 1px solid var(--blue-400);
    border-radius: var(--radius1);
}

.fullWidth {
    width: 100%;
}