.cart {
    position: relative;
    padding-right: 10px;
}

.cart_count {
    position: absolute;
    font-size: 1rem;
    font-weight: 600;
    top: -1px;
    left: 25px;
}

.cart:hover {
    cursor: pointer;
}