.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.loginError {
    padding: 10px 0;
    min-height: 20px;
    color: red;
    text-align: center;
}
.responseError {
    color: red;
    text-align: center;
}